<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
  <select id="findAllBoard" resultType="listBoardVO">
  	select b.boardNo, b.title, c.nickName, b.created, b.hit, b.b_ref, b.b_step, b.b_level 
	from board b, customer c 
	<if test="">
	 , boardComment bc 
	</if>
	where b.custid = c.custid
	<if test="">
		and bc.content like '%'||#{keyword}||'%')
	</if>
	<if test="">
		and (b.title like '%'||#{keyword}||'%' or b.content like '%'||#{keyword}||'%') 
	</if>
	<if test="">
		and b.title like '%'||#{keyword}||'%'
	</if>
	<if test="">
		and b.content like '%'||#{keyword}||'%' 
	</if>
	<if test="">
		and c.nickName like '%'||#{keyword}||'%'
	</if>
	<if test="">
		order by b.b_ref, b.b_step
	</if>
	<if test="">
		order by b.created desc
	</if> 
	<if test="">
		order by hit desc
	</if> 
  </select>
  <select id="detailOfBoard" resultType="listBoardVO">
  	select b.boardNo, b.title, b.content, c.nickName, b.created, b.hit 
	from board b, customer c 
	where b.custid = c.custid
	and boardNo=#{boardNo}
  </select>
  <update id="updateHit">
  	update board set hit = hit + 1 where boardNo=#{boardNo}
  </update>
  <select id="getNextBoardNo" resultType="Integer">
  	select nvl(max(boardNo),0)+1 from board
  </select>
  <insert id="insertBoard" parameterType="boardVO">
  	insert into board(boardNo, custNo, title, content, b_ref, b_step, b_level, created, hit) 
	values(#{boardNo}, #{custNo}, #{title}, #{content}, #{b_ref}, #{b_step}, #{b_level}, sysdate, 0)
  </insert>
  <update id="updateBoardStep" parameterType="HashMap">
  	update boardComment set b_step=b_step+1 
  	where b_ref=#{b_ref} and b_step>#{b_step}
  </update>
  <update id="updateBoard" parameterType="HashMap">
  	update board 
	set title=#{title}, content=#{content}, updated=sysdate 
	where boardNo=#{boardNo}
  </update>
  <delete id="deleteBoard">
  	delete board 
	where boardNo=#{boardNo}
  </delete>
</mapper>